body {
    padding: 0;
    margin: 0;
}

#logo img {
    width: 120px;
}

header {
    background-color: rgb(44, 44, 44);
}

.header-section {
    display: flex;
}

.nav-menu {
    background-color: purple;
    display: inherit;
    padding: 0;
    margin: 0;
    width: 100vw;
    justify-content: space-evenly;
}

.nav-menu > * {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: .5em;
    list-style: none;
}

#hover-menu {
    height: 15em;
    width: 96vw;
    background-color: rgb(44, 44, 44);
    position: absolute;
    margin: 0 2vw;
    display: none;
}

.dropdown-menu {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    color: white;
}

.dropdown-menu ul {
    list-style-type: none;
}

.dropdown-menu a {
    text-decoration: none;
    color: rgb(116, 116, 116);
}